---
import Layout from '../layouts/Layout.astro';
import SectionContainer from '../components/SectionContainer.astro';
import Badge from '../components/Badge.astro';
import SocialPill from '../components/SocialPill.astro';
import Experience from '../components/Experience/Experience.astro';
import Projects from '../components/Projects.astro';
import LinkedinIcon from '../components/icons/LinkedIn.astro';
import GithubIcon from '../components/icons/GitHub.astro';
import MailIcon from '../components/icons/Mail.astro';
import BriefCaseIcon from '../components/icons/BriefCase.astro';
import CodeIcon from '../components/icons/Code.astro';
---

<Layout 
	title="code portfolio - Web Developer and Programmer with 15 years of experience"
	description="I'm a Web Developer and Programmer with 15 years of experience. I'm from Saltillo, Mexico. I'm specialized in creating unique applications."
>
	<main class="px-4">
		<SectionContainer class="py-44 pb-24">
			<img
				class="rounded-full size-12 mb-4"
				src="https://avatars.githubusercontent.com/u/93932214?v=4?s=400" 
				alt="code photo"
			/>

			<h1 class="text-white text-3xl md:text-4xl lg:text-5xl font-bold flex flex-row gap-x-4 pb-6 lg:pb-10">
				Hey, I'm code
				<a class="flex justify-center items-center"
					href="https://www.linkedin.com/in/jorgeantonioacostarosales"
					target="_blank" rel="noopener"
				>
					<Badge>Available for work</Badge>
				</a>
			</h1>
			<h2 class="text-xl lg:text-2xl text-wrap max-w-[500px])">
				<span>More than 15 years of experience. </span>
				<span class="text-yellow-200/90">Web Developer and Content Creator. </span>
				<span class="text-red-200/90">From Saltillo, Mexico. </span>
				<span class="opacity-75">Specialized in creating unique applications.</span>
			</h2>
			
			<ul class="flex gap-4 mt-8 flex-wrap">
				<SocialPill href="https://www.linkedin.com/in/jorgeantonioacostarosales">
					<LinkedinIcon class="size-4 md:size-6" />
					LinkedIn
				</SoacialPill>
				<SocialPill href="https://github.com/codesonicx">
					<GithubIcon class="size-4 md:size-6" />
					GitHub
				</SoacialPill>
				<SocialPill href="mailto:code_lioko1@hotmail.com">
					<MailIcon class="size-4 md:size-6" />
					code_lioko1@hotmail.com
				</SoacialPill>
			</ul>
		</SectionContainer>

		<SectionContainer id="Experience" class="mt-15">
			<h2 class="text-2xl font-semibold mb-6 flex gap-x-2 items-center">
				<BriefCaseIcon class="size-7" />
				Laboral Experience
			</h2>
			<Experience />
		</SectionContainer>

		<SectionContainer id="Projects">
			<h2 class="text-2xl font-semibold mb-6 flex gap-x-2 items-center">
				<CodeIcon class="size-7" />
				Projects
			</h2>
			<Projects />
		</SectionContainer>
	</main>
</Layout>